@mixin e-table-cell() {
  &-cell {
    cursor: pointer;
    outline: none;
    user-select: none;
    font-size: 12px;
    color: #1f2532;
    min-height: 80px;
    box-sizing: border-box;
    padding: 10px 20px;
    text-align: left;
    position: relative;
    display: flex;
    align-items: center;
    overflow-wrap: break-word;
    &:before {
      border: 1px solid rgba(255, 255, 255, 0);
      content: '';
      transition: border .5s;
      z-index: 1;
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: -2px;
    }
    &:hover {
      &:before {
        pointer-events: none;
        content: '';
        border: solid 1px #e3b61c;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }
      &:after {
        display: none;
      }
    }
    &.is-focus {
      &:before {
        content: '';
        border: solid 1px #028dd8;
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: -2px;
      }
      &:after {
        display: none;
      }
    }
    &.is-selected {
      &:before {
        content: '';
        border: solid 1px #028dd8;
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: -2px;
      }
      &:after {
        display: none;
      }
    }
    &.is-selected-to {
      &:before {
        content: '';
        border: dashed 1px #028dd8;
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: -2px;
      }
      &:after {
        display: none;
      }
    }
    &.is-required {
      &:before {
        content: '';
        border: solid 1px #dc6263;
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: -2px;
      }
      &:after {
        display: none;
      }
    }
    &:after {
      height: 50px;
      width: 1px;
      background-color: #e0e0e0;
      position: absolute;
      content: '';
      right: -1px;
      top: 50%;
      margin-top: -25px;
    }
    &:nth-last-child(2) {
      &:after {
        width: 0;
      }
      .e-table {
        &-cell-text.is-edit ~ .cke,
        &-cell-text.is-edit {
          right: 0;
          left: auto;
        }
      }
    }
    &:first-child .e-table {
      &-cell-text.is-edit ~ .cke,
      &-cell-text.is-edit {
        right: auto;
        left: 0;
      }
    }
  }
}

