@mixin e-table-cell-text() {
  &-cell-text {
    overflow: hidden;
    text-overflow: ellipsis;
    user-select: text;
    ~ .cke,
    &.is-edit {
      font-size: 14px;
      background: #fff;
      box-sizing: border-box;
      max-height: 150px;
      height: 150px;
      width: 380px;
      outline: none;
      z-index: 9;
      position: absolute;
      left: 0;
      top: 0;
      border: solid 1px #028dd8;
      overflow: unset;
      textarea {
        height: 100%;
        padding: 20px;
      }
    }
    ~ .cke:after,
    &:after {
      content: attr(data-charactersLeft);
      position: absolute;
      right: 10px;
      bottom: 10px;
      font-size: 12px;
    }
    ~.cke[data-charactersLeft='0']:after,
    &[data-charactersLeft='0']:after {
      color: #dc6263;
    }
    ~ .cke {
      width: 707px;
      padding: 0;
      border: 1px solid #b6b6b6;
      height: auto;
      max-height: 5000px;
      &:after {
        bottom: 4px;
      }
      .cke_top.cke_reset_all {
        padding-right: 2px;
      }
    }
    textarea {
      width: 100%;
      border: none;
      resize: unset;
      overflow: hidden;
      font: inherit;
      cursor: inherit;
      background-color: transparent;
      box-sizing: border-box;
    }
    &-controllers-box {
      z-index: 100;
      position: absolute;
      top: 5px;
      right: -35px;
    }
    &-save,
    &-close {
      border: 1px solid #c1c1c1;
      height: 25px;
      width: 25px;
      border-radius: 3px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #fff;
      &:after {
        content: '';
        display: inline-block;
        width: 15px;
        height: 15px;
      }
    }
    &-save:after {
      @include check-icon();
    }
    &-close {
      margin-top: 5px;
      &:after {
        @include close-icon();
      }
    }
  }
}
