@mixin is-tree-rules {
  &.is-active {
    background: #e0e0e0;
    .e-tree-settings {
      visibility: visible;
     }
  }
  &.is-move {
    opacity: .5;
  }
  &.is-open {
    .e-tree-arrow {
      transform: rotate(90deg);
    }
    + .e-tree-list {
      max-height: unset;
    }
  }
  &:after {
    content: attr(data-count);
    padding: 0 0 0 2px;
    vertical-align: top;
    position: absolute;
  }
  &.is-center > .e-tree-drag:before,
  &.is-bottom > .e-tree-drag:before,
  &.is-top > .e-tree-drag:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-top: solid 2px #000;
  }
  &.is-bottom > .e-tree-drag:before {
    border-bottom: solid 2px #000;
    border-top: 0;
  }
  &.is-center > .e-tree-drag:before {
    border: solid 2px #000;
  }
}
